@model Restuarants.Models.Restuarant
@{
    ViewBag.Title = "About";
}
<img src="@Model.Img" class="img-circle" width="300" height="300" />

Rating:
@for (int i = 0; i < @Model.Rating; i++)
{
    <span style="color:gold; font-size:large" class="glyphicon glyphicon-star"></span>
}
@for (int i = 0; i < (5 - @Model.Rating); i++)
{
    <span style="color:gray; font-size:large" class="glyphicon glyphicon-star"></span>
}

<br />
<h1>@Model.Name</h1>
<h2>@Model.Cuisine</h2>
<br /><br />

<h4>Name: @Model.Name</h4>
<h4>Cuisine: @Model.Cuisine</h4>
<br />

<br />
<br />
<a href="/home/update/@Model.Id">
    <input type="submit" value="Update Info" class="btn-info" />
</a>

<a href="/home/delete/@Model.Id">
    <input type="submit" value="Delete" class="btn-danger" />
</a>
